::-webkit-scrollbar {
    display: none;
}

:root {
    --color25p: #24C6DC; /* 1797d2 */
    --color50p: #514A9D; /* 0cc898 */
    --color100p: #24C6DC; /* 1797d2 */
}

html {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

body {
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
}

@-webkit-keyframes Background {
    0% { background-color: var(--color25p) }
    50% { background-color: var(--color50p) }
    100% { background-color: var(--color25p) }
}

@-moz-keyframes Background {
    0% { background-color: var(--color25p) }
    50% { background-color: var(--color50p) }
    100% { background-color: var(--color25p) }
}

@keyframes Background {
    0% { background-color: var(--color25p) }
    50% { background-color: var(--color50p) }
    100% { background-color: var(--color25p) }
}

#photo {
    padding: 4px;
    top: 0;
    left: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

#img {
    border-radius: 100px;
    border: 4px double rgba(255, 255, 255, 0);
}

#img:hover {
    border: 4px double #f1f1f1;
    -webkit-transition: all .5s ease-in .5ms;
    -moz-transition: all .5s ease-in .5ms;
    transition: all .5s ease-in .5ms;
}

#info {
    margin-top: 35px;
}

#title {
    width: 30%;
    margin: 0 auto; 
    background: rgba(255, 255, 255, 0);
    padding: 35px; 
    border: 2px solid #f1f1f1;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    transition: all 0.3s ease-out;
}

#title:hover {
    background: rgba(255, 255, 255, 0.2);
}

.p1 {
    color: #f1f1f1;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
}

#list {
    font-size: 15px;
}

li {
    color: #514A9D;
    padding: 3px;
    text-align: left;
}

li span {
    color: #2d2d2d;
}

.box {
    padding: 35px;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #f1f1f1;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #f1f1f1;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box { width: 70%; }
    .popup { width: 70%; }
}
